<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gerry.jnshu.mapper.BannerInfoMapper">
  <resultMap id="BaseResultMap" type="com.gerry.jnshu.pojo.BannerInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <collection property="imgUrlInfo" ofType="java.lang.String" javaType="java.util.List">
      <result column="img_path"/>
    </collection>
  </resultMap>

  <select id="queryAllBanners" resultMap="BaseResultMap">
    select
    b.id,b.userId,b.status,b.create_time,b.update_time,m.img_path
    from banner b
    left join imageInfo m
    on b.id = m.relation_id
  </select>
</mapper>